<h2>Add Comment</h2>

<%= form_with(model: @comment, url: user_post_comments_path) do |f| %>
  <div>
  <%= f.label :Comment %>
  <%= f.text_area :text, placeholder: "write your comment here">
  </div>

  <%= f.submit 'Add comment' %>
<% end %>