<div class="show-contailer">
<div class="user-profile">
<div class="user-wrapper">
<img src="" alt="avatar">
<div class="user-box">
<h3><%= @user.name %></h3>
<p>Number of Post:<span><%= @user.posts_counter || 0 %></span></p>
</div>
</div>
<div class="bio">
<h3>Bio</h3>
<p><%= @user.bio %></p>
</div>
</div>
<div class="post-box">
<div class="post">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
</div>
<div class="post">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
</div>
<div class="post">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
</div>
</div>
<a href="">See all posts</a>
</div>