<div class="show-contailer">
<div class="user-profile">
<div class="user-wrapper">
<img src="" alt="avatar">
<div class="user-box">
<h3>Morris Jonson</h3>
<p>Number of Post:<span>x</span></p>
</div>
</div>
<div class="bio">
<h3>Bio</h3>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
</div>
</div>
<div class="post-box">
<div class="post">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
</div>
<div class="post">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
</div>
<div class="post">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
</div>
</div>
<a href="">See all posts</a>
</div>