<div class="post">
<h4>Post <span><%= post.id %></span></h4>
<p>
<%= post.text %>
</p>
<div class="post-info">
<small>Comments: <span><%= post.comments_counter%></span></small>
<small>Likes: <span><%= post.likes_counter %></span></small>
</div>
</div>