<div class="post-container">
<div class="user-wrapper">
<img src="" alt="avatar">
<div class="user-box">
<h3><%= user.name %></h3>
<p>Number of Post:<span>x</span></p>
</div>
</div>
<div class="post-box">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
<div class="comments">
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
</div>
</div>
<div class="post-box">
<h4>Post <span>1</span></h4>
<p>
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
</p>
<div class="post-info">
<small>Comments: <span>x</span></small>
<small>Likes: <span>Y</span></small>
</div>
<div class="comments">
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
<div class="comment-box">
<h4 class="username">Username</h4>:<p class="comment"></p>
</div>
</div>
</div>

<a href="">pagination</a>
</div>